* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(29 29 29);
}

body::-webkit-scrollbar {
  display: none;
}

/* NAVBAR AND HOME */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 15rem;
  background-color: rgb(29 29 29);
  color: rgb(182, 149, 118);
  border-bottom: 1px solid rgba(182, 149, 118, 0.1);
  position: sticky;
  top: 0%;
  width: 100vw;
  z-index: 1;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.logo {
  font-size: 3rem;
  color: #b69576;
}

.nav-list {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 6rem;
  list-style: none;
}

.nav-link {
  opacity: 0.75;
}

.nav-link:hover,
.nav-link:active {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 100%;
  text-decoration: underline;
}

.user-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.user-name {
  font-size: 2.2rem;
}

.btn-signout,
.btn-signup {
  padding: 0.8rem;
  font-size: 1.4rem;
  color: #b69576;
  background-color: transparent;
  border: none;
  border: 1px solid #b69576;

  /* text-transform: uppercase; */
  transition: all 0.3s ease-in-out;
}

.btn-signout:hover,
.btn-signup:hover {
  cursor: pointer;
  transform: scale(1.1);
  text-decoration: underline;
}

/* .home {
  height: 100vh;
} */

/* PARRALAX HERO ATTEMPT 1 */
/* .hero {
  color: #fff;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 1rem;
  text-align: center;
}

.hero::-webkit-scrollbar {
  display: none;
}

.hero-wrapper-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
  text-align: center;
}

.parallax-bg {
  transition: all 0.3s ease;
}

.parallax-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;

  filter: brightness(80%);

  transform: translateZ(-1rem) scale(2);
}

.parallax-fg {
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(80%);

}

.parallax-header {
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
}

.parallax-text {
  font-size: 1.4rem;
  
}

.parallax-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  
  height: 100%;
}

.parallax-info {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw;
  
  transform: translate(-50%, -50%);
  z-index: 9999;
} */

.hero::-webkit-scrollbar {
  display: none;
}

.hero {
  overflow-x: hidden;
  margin-bottom: 2rem;
}

.parallax {
  height: 100vh;
  width: 100vw;
}

.parallax-content {
  height: 100vh;
  width: 100%;
  text-align: center;
}

.parallax-text-content {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 0.5rem 1.5rem;
  transform: translate(-50%, -50%);
  color: #fff;
  filter: brightness(100%);
}

.parallax-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.parallax-title {
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
}

.parallax-text {
  font-size: 1.4rem;
  letter-spacing: 0.06rem;
  width: 62rem;
  font-weight: 300;
}

.parallax-cta-btn,
.btn-admin-submit {
  padding: 1rem 3rem;
  text-transform: uppercase;
  background-color: #b69576;
  border: none;
  font-size: 1.5rem;
  margin-top: 2.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #fff;
  line-height: 1.2;
  cursor: pointer;
  box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.1);
}

/* ADMIN PANEL */
.admin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  width: 75vw;
  height: 40vh;
  background-color: rgb(29 29 29);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b69576;
}
.admin-form {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;

  color: #b69576;

  padding: 2rem;
  text-align: start;
}

.input-hero-name,
.input-gallery-name {
  padding: 1rem 2rem;
  width: 100%;
  border: none;
  text-align: center;
  color: #b69576;
  border-bottom: 1px solid rgb(182, 149, 118, 0.4);
  background-color: transparent;
}

.input-hero-name::placeholder,
.input-gallery-name::placeholder {
  color: rgba(182, 149, 118, 0.6);
  text-align: center;
}

.upload-img-icon {
  height: 3rem;
  width: 3rem;
}

.form-add-image-label {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px solid rgb(182, 149, 118, 0.4);
  padding: 1rem 2rem;
  width: 100%;
  margin-bottom: 4rem;
}

.form-add-image-label span {
  font-size: 1.6rem;
}

.btn-admin-submit {
  align-self: center;
}

.btn-close-admin {
  position: absolute;

  top: 5%;
  right: 2%;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* FOOTER */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 15rem;
}

.footer-logo {
  font-weight: 400;
}

.socials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

ion-icon {
  color: #b69576;
}

.copyright {
  color: #b69576;
  font-size: 1.4rem;
}
