* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.6rem 15rem;
  background-color: rgb(29 29 29);
  color: rgb(182, 149, 118);
}

.nav-wrapper {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.logo {
  font-size: 3rem;
}

.nav-list {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 6rem;
  list-style: none;
}

.nav-link {
  opacity: 0.75;
}

.nav-link:hover,
.nav-link:active {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 100%;
  text-decoration: underline;
}

.user-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.user-name {
  font-size: 2.2rem;
}

.btn-signout,
.btn-signup {
  padding: 0.8rem;
  font-size: 1.4rem;
  color: #b69576;
  background-color: transparent;
  border: none;
  border: 1px solid #b69576;

  /* text-transform: uppercase; */
  transition: all 0.3s ease-in-out;
}

.btn-signout:hover,
.btn-signup:hover {
  cursor: pointer;
  transform: scale(1.1);
  text-decoration: underline;
}

/* .home {
  height: 100vh;
} */
